.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-image: url('C:\xampp\htdocs\myProject\img\background.jpg');
	background-size: cover;
	background-position: center;
}

body{
	background : #efefef;
	font-family: arial;
}
h1{
	font-size: 16 px;
}
a{
	color: #00ff00;
	text-decoration: underline;
}
a:hover {
	color : #00ff00;
	text-decoration: none;
}

}
p {
	font-size:14px;
}